{
	"cado_nfs_path": "/opt/cado-nfs/cado-nfs.py",
	"factordb_cooldown_period": 1.0,
	"factordb_username": "",
	"factordb_password": "",
	"factordb_response_path": "factordb_response.html",
	"factordb_session_path": "factordb_session.json",
	"max_siqs_digits": 100,
	"max_threads": 2,
	"result_output_path": "results",
	"stats_path": "stats.json",
	"yafu_path": "/opt/yafu/yafu"
}
